.Header {
  width: 100%;
  &--absolute {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
  }

  &__main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /*  #ifndef rn  */
    transition: opacity 0.1s;
    /*  #endif  */
    opacity: 0;

    &--show {
      opacity: 1;
    }
  }

  &__nav {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &__left {
      align-items: center;
      flex-direction: row;
      width: 100px;
      height: 100%;

      &__icon {
        width: 42px;
        height: 42px;
        margin-left: 20px;
      }
    }

    &__main {
      flex: 1;
      justify-content: center;
    }

    &__title {
      text-align: center;
      font-size: 32px;
      font-weight: bold;
      /*  #ifndef rn  */
      white-space: nowrap;
      /*  #endif  */
    }

    &__right {
      align-items: center;
      width: 100px;
    }
  }
}
