<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>duxapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>duxapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CodePushDeploymentKey</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>weixinULAPI</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>qqmap</string>
    <string>uppaysdk</string>
		<string>uppaywallet</string>
		<string>uppayx1</string>
		<string>uppayx2</string>
		<string>uppayx3</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MiSDKAppID</key>
	<string></string>
	<key>MiSDKAppKey</key>
	<string></string>
	<key>MiSDKRun</key>
	<string>${MiSDKRun}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow duxapp to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>抖鑫传媒需要拍照用于APP内图片上传更换头像</string>
	<key>NSContactsUsageDescription</key>
	<string>duxapp需要访问你的通讯录，将客户信息保存到通讯录中</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>App需要访问你的本地网络，用于和服务器建立连接</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>使用你的位置信息用于地图定位和位置选择</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>使用你的位置信息用于地图定位和位置选择</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>使用你的位置信息用于地图定位和位置选择</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow duxapp to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow duxapp to access your device&apos;s accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>抖鑫传媒需要保存宣传图到你的相册用于分享</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>抖鑫传媒需要访问相册用于APP内图片上传更换头像</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow duxapp to access your reminders</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/icon.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
