.TopView {
  height: 100%;
  background-color: $duxappPageColor;

  /*  #ifndef rn harmony  */
  .position {
    position: initial;
  }

  /*  #endif  */
  &--safe {
    padding-bottom: 68px;
  }
}
