/*  #ifndef rn harmony  */
.duxapp-theme-light {
--duxapp-primary-color: #F0222B;
--duxapp-secondary-color: #1976D2;
--duxapp-success-color: #34a853;
--duxapp-danger-color: #ea4335;
--duxapp-warning-color: #fbbc05;
--duxapp-page-color: #F2F6FC;
--duxapp-white-color: #fff;
--duxapp-black-color: #000;
--duxapp-line-color: #f5f5f5;
--duxapp-custom-color1: #FA6926;
--duxapp-custom-color2: #337ab7;
--duxapp-custom-color3: #337ab7;
--duxapp-text-color1: #373D52;
--duxapp-text-color2: #535766;
--duxapp-text-color3: #A1A6B6;
--duxapp-text-color4: #FFF;
--duxapp-text-size1: 24px;
--duxapp-text-size2: 26px;
--duxapp-text-size3: 28px;
--duxapp-text-size4: 30px;
--duxapp-text-size5: 32px;
--duxapp-text-size6: 34px;
--duxapp-text-size7: 36px;
--duxapp-radius: 16px;
--duxapp-header-color: #373D52;
--duxapp-header-text-color: #000;
--duxui-button-color: #000;
--duxui-button-text-color: #fff;
--duxui-button-s-font-size: 24px;
--duxui-button-s-padding: 20px;
--duxui-button-s-height: 50px;
--duxui-button-m-font-size: 28px;
--duxui-button-m-padding: 30px;
--duxui-button-m-height: 70px;
--duxui-button-l-font-size: 32px;
--duxui-button-l-padding: 40px;
--duxui-button-l-height: 90px;
--duxui-tab-bar-name-color: #373D52;
--duxui-tab-bar-name-hover-color: #DC0000;
--duxui-tab-line-width: 40px;
--duxui-tab-line-height: 8px;
--duxui-tab-line-radius: 4px;
--duxui-avatar-color: #F0222B;
--duxui-avatar-bg-color: #eee;
--duxui-avatar-icon-size: 56px;
--duxui-avatar-s-size: 48px;
--duxui-avatar-m-size: 72px;
--duxui-avatar-l-size: 120px;
--duxui-card-radius: 16px;
--duxui-card-margin: 24px;
--duxui-divider-padding: 0px;
--duxui-form-item-padding: 24px;
--duxui-form-item-label-width: 140px;
}

.duxapp-theme-dark {
--duxapp-primary-color: #F0222B;
--duxapp-secondary-color: #1976D2;
--duxapp-success-color: #34a853;
--duxapp-danger-color: #ea4335;
--duxapp-warning-color: #fbbc05;
--duxapp-page-color: #1E1E1E;
--duxapp-white-color: #181818;
--duxapp-black-color: #fff;
--duxapp-line-color: #1F1F1F;
--duxapp-custom-color1: #FA6926;
--duxapp-custom-color2: #337ab7;
--duxapp-custom-color3: #337ab7;
--duxapp-text-color1: #FFF;
--duxapp-text-color2: #A1A6B6;
--duxapp-text-color3: #73778E;
--duxapp-text-color4: #373D52;
--duxapp-text-size1: 24px;
--duxapp-text-size2: 26px;
--duxapp-text-size3: 28px;
--duxapp-text-size4: 30px;
--duxapp-text-size5: 32px;
--duxapp-text-size6: 34px;
--duxapp-text-size7: 36px;
--duxapp-radius: 16px;
--duxapp-header-color: #fff;
--duxapp-header-text-color: #000;
--duxui-button-color: #000;
--duxui-button-text-color: #fff;
--duxui-button-s-font-size: 24px;
--duxui-button-s-padding: 20px;
--duxui-button-s-height: 50px;
--duxui-button-m-font-size: 28px;
--duxui-button-m-padding: 30px;
--duxui-button-m-height: 70px;
--duxui-button-l-font-size: 32px;
--duxui-button-l-padding: 40px;
--duxui-button-l-height: 90px;
--duxui-tab-bar-name-color: #888;
--duxui-tab-bar-name-hover-color: #DC0000;
--duxui-tab-line-width: 40px;
--duxui-tab-line-height: 8px;
--duxui-tab-line-radius: 4px;
--duxui-avatar-color: #F0222B;
--duxui-avatar-bg-color: #eee;
--duxui-avatar-icon-size: 56px;
--duxui-avatar-s-size: 48px;
--duxui-avatar-m-size: 72px;
--duxui-avatar-l-size: 120px;
--duxui-card-radius: 16px;
--duxui-card-margin: 24px;
--duxui-divider-padding: 0px;
--duxui-form-item-padding: 24px;
--duxui-form-item-label-width: 140px;
}
/*  #endif  */
