.ActionSheet {

  &__title {
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: $duxappTextColor1;
  }

  &__item {
    padding: 30px 30px;
    justify-content: center;
    align-items: center;

    &__text {
      font-size: 28px;
      color: $duxappTextColor1;
    }
  }
}
