.PullView {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  opacity: 0;

  &__main {
    position: absolute;
    opacity: 0;
    z-index: 10;
    /*  #ifdef harmony  */
    align-items: center;
    /*  #endif  */

    &--top {
      left: 0;
      width: 100%;
      top: 0;
    }

    &--bottom {
      left: 0;
      width: 100%;
      bottom: 0;
    }

    &--left {
      top: 0;
      height: 100%;
      left: 0;
    }

    &--right {
      top: 0;
      height: 100%;
      right: 0;
    }

    &--center {
      left: 50%;
      top: 50%;
      opacity: 0;
    }
  }

  &__other {
    flex: 1;
  }
}
