.TopView {
  height: 100%;
  background-color: $duxappPageColor;
  /*  #ifndef rn  */
  position: relative;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0;
  .position {
    position: initial;
  }
  /*  #endif  */
  &--safe {
    padding-bottom: 68px;
  }

  /*  #ifdef h5  */
  taro-view-core {
    display: flex;
  }
  /*  #endif  */
}

/*  #ifdef h5  */
taro-view-core {
  display: flex;
  flex-direction: column;
  position: relative;
  border-style: solid;
  border-width: 0;
}
input,
textarea,
taro-view-core {
  box-sizing: border-box;
}
taro-view-core,
taro-text-core {
  line-height: 1;
}
taro-image-core {
  width: auto;
  height: auto;
}
/*  #endif  */
/*  #ifndef rn h5  */
view {
  display: flex;
  flex-direction: column;
  position: relative;
  border-style: solid;
  border-width: 0;
}
input,
textarea,
view {
  box-sizing: border-box;
}
view,
text {
  line-height: 1;
}
/*  #endif  */
