/*postcss-pxtransform rn eject enable*/
.scroll-root {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.scroll {
  display: initial;
}
.scroll-flip {
  transform: rotate(180deg);
}
.scroll-auto-height-weapp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
}
.scroll-auto-height-h5 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: 1;
}
.scroll-auto-height {
  flex: 1;
}
.scroll-refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: absolute;
  top: -140px;
  left: 0;
  right: 0;
  // z-index: 2;
  transform: translate3d(0px, 0px, 0px);
  /*postcss-pxtransform rn eject enable*/
  transition: transform 0s;
  /*postcss-pxtransform rn eject disable*/
}
/*postcss-pxtransform rn eject disable*/
